@charset "utf-8";
/* --------------------------------------------------------
	style
-------------------------------------------------------- */

  :root {
  --pink: rgb(255, 192, 203);
  --blue: skyblue;
  }
/* --------- fonts読み込み ---------- */
  @font-face {
	font-family: JosefinSans-Medium ;
	font-display: swap;
	src: url("../fonts/JosefinSans-Medium.ttf") format("TrueType");
	}

  html{
  font-size: 20px;
  background-color: #ffffff;
  }
  body{
  font-family:"Arial", "Meiryo", sans-serif ;
  -webkit-text-size-adjust: 100%;
  text-align: center;
  }
  h1{
    font-family: JosefinSans-Medium ;
    font-size: 40px;
    letter-spacing: 1em;
    border-bottom: solid 3px rgb(115, 115, 114);
    text-shadow: 2px 3px 3px #17a948;
  }
  .cc001{
    color: var(--pink);
  }
  .cc002{
    color: var(--blue)
  }
  .basic>p{
    font-weight: 900;
  }